*, *:hover, *:after {
    box-sizing: border-box;
}

body {
    background-color: #849d8f;
    background-image: url("../css/img/slide_1.png");
    background-repeat: no-repeat;
    background-position-x: center;
}

.visibility-hidden {
    display: none;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
    text-align: center;

}

.menu__list,
.user__menu {
    list-style: none;
    display: flex;
    margin: 0;
}

.user__menu {
    margin-left: auto;
}

.navigation {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.menu__item {
    position: relative;
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.menu__item-popup {
    width: 144px;
    position: absolute;
    top: 35px;
    left: -35px;
    background-color: white;
    border-radius: 5px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
}

.menu__item-popup__item {
    display: block;
    color: black;
    text-decoration: none;
    padding: 11px 16px 11px 13px;
}

.menu__item-popup__item:first-child {
    position: relative;
    font-family: "Roboto Bold", "Arial", sans-serif;
    border-bottom: 1px solid #d1d0ce;
}

.menu__item-popup__item:first-child:after {
    content: "";
    width: 6px;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.menu__item-popup__item:first-child:before {
    content: "";
    width: 9px;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -1px;
    right: 0;
}

.menu__item-popup__item:hover {
    background-color: #fbded8;

}

.menu__item-popup__item:hover:first-child {
    border-radius: 5px 5px 0 0;
}

.menu__item-popup__item:hover:last-child {
    border-radius: 0 0 5px 5px;
}

.user__item {
    position: relative;
}

.user__item-search {
    position: absolute;
    top: 40px;
    right: 0;
    width: 344px;
    height: 86px;
    background-color: #f8f7f4;
    padding: 22px 17px;
    border-radius: 5px;
}

.user__item-singIn {
    position: absolute;
    right: 0;
    top: 43px;
    padding: 21px;
    width: 278px;
    background: #f8f7f4;
    border-radius: 5px;
}

.user__item-label {
    display: block;
    margin-bottom: 22px;
}

.user__item-input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    padding: 15px;
    font-family: "Roboto", "Arial", sans-serif;
}

.button {
    padding: 20px 27px;
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 18px;
    color: white;
    border: none;
    background-color: #ee5e3f;
    border-radius: 35px;
    cursor: pointer;
}

.user__item-inner-wrapper {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.user__item-singIn-link {
    line-height: 25px;
    color: black;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 13px;
}

.user__item-inner-wrapper_item:nth-child(2) {
    padding-left: 10px;
}

.user__item-input:focus-visible {
    border: 1px solid black;
}

.user__item-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: "Roboto Medium", "Arial", sans-serif;
    color: white;
    font-size: 14px;
    cursor: pointer;
}


.menu__item:before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

.user__item + .user__item,
.menu__item + .menu__item {
    margin-left: 10px;
}

.user__item-button-search {
    width: 34px;
    border-radius: 50%;
}

.user__item-button-singIn,
.user__item-button-basket {
    padding: 11px 16px;
    border-radius: 18px;
}

.user__item-icon-singIp,
.user__item-icon-basket {
    margin-right: 5px;
}

.user__item-icon-singIp {
    fill: white;
}

.slider {
    position: relative;
    padding-bottom: 20px;
}

.dots {
    position: absolute;
    bottom: 45px;
    padding-left: 27px;
    left: 0;
    display: flex;
}


.dots__item + .dots__item {
    margin-left: 7px;
}

.dots__item {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    cursor: pointer;
}

.dots__item-active {
    background-color: white;
}

.info {
    position: absolute;
    right: 0;
    font-family: "Roboto Bold", "Arial", sans-serif;
    color: white;
    line-height: 25px;
    padding-right: 27px;
}

.info__time,
.info__tel {
    text-align: right;
    margin: 0;
}

.info__time {
    font-size: 14px;
}

.info__tel {
    font-size: 22px;
    text-transform: uppercase;
}

.slider__title {
    margin: 0;
    padding-top: 305px;
    padding-bottom: 40px;
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
}

.slider__link {
    display: inline-block;
    padding: 18px 40px;
    color: white;
    text-decoration: none;
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 32px;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper {
    max-width: 560px;
}

.sale {
    color: white;

    background-image: url("../css/img/background-malina.jpg");
    background-size: cover;
    border-radius: 10px;
    padding: 23px 20px;
}

.sale__background-chocolate {
    background-image: url("../css/img/background-chocolate.jpg");
}

.pos-right {
    display: block;
    float: right;
    text-decoration: none;
}

.sale__title {
    margin: 0;
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 35px;
    text-align: left;
    padding-bottom: 31px;
}

.sale__text {
    margin: 0;
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 18px;
    text-align: left;
    padding-bottom: 50px;
}

.hits {
    width: 100%;
}

.hits__item {
    position: relative;
}

.hits__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 40px 0;
}

.hits__item-img {
    display: block;
    position: relative;
    max-width: 267px;
}

.hits__item-text {
    line-height: 22px;
    color: white;
    font-family: "Roboto Medium", "Arial", sans-serif;
    font-size: 16px;
    text-decoration: underline;
}

.hits__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 62px;
    width: 62px;
    border-radius: 50%;
    background-color: #d1d0ce;
    background-image: url("../css/icon/hit.svg");
    background-repeat: no-repeat;
    z-index: 1;
}

.hits__item-price {
    display: block;
    position: absolute;
    bottom: 90px;
    left: 0;
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 45px;
    color: white;
}

.hits__item-price:before {
    content: url("../css/icon/ruble.svg");
    position: absolute;
    top: 3px;
    left: 77px;
}

.margin-left {
    margin-left: 30px;
    font-size: 24px;
}

.advantage {
    text-align: left;
    width: 100%;
    border-radius: 10px;
    padding: 30px 20px;
    background-image: url("../css/img/background-advantage.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.advantage__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;
    padding: 0;
    margin: 0;
}

.advantage__item {
    display: flex;
    align-items: flex-start;
    width: 48%;
}

.advantage__title {
    color: #323232;
    margin: 0;
    font-family: "Roboto Medium", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 10px;
}

.advantage__item-text {
    margin: 0;
    padding-top: 15px;
    padding-left: 10px;
}

.other {
    display: flex;
    justify-content: space-between;
    padding: 41px 0;
}

.recipe,
.subscribe {
    width: 48%;
    border-radius: 15px;
}

.recipe {
    text-align: left;
    position: relative;
    padding: 27px 20px;
    background-image: url("../css/img/background-strawberry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.recipe__title {
    font-family: "Roboto Medium", "Arial", sans-serif;
    font-size: 16px;
    margin: 0;
    padding-bottom: 10px;
}

.recipe__link {
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 24px;
    color: black;
    text-decoration: underline;
}

.subscribe {
    position: relative;
    padding: 3px;
    background-image: url("../css/icon/bg-post.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe__content {
    padding: 10px 15px 35px;
    border-radius: 15px;
    background-color: #f8f7f4;
    z-index: 1;
}

.subscribe__form {
    display: flex;
    justify-content: space-between;

}

.subscribe__form-input {
    width: 350px;
}

.map {
    position: relative;
    width: 100%;
}

.map__img {
    width: 100%;
    object-fit: cover;
}

.map__pin {
    position: absolute;
    top: 127px;
    left: 251px;
}

.map__feedback {
    position: absolute;
    bottom: 34px;
    right: 28px;
    text-align: left;
    background-color: white;
    padding: 24px 20px 20px 20px;
    max-width: 304px;
    margin: 0;
    border-radius: 10px;
}
.map__feedback-text{
    margin: 0;
font-family: "Roboto","Arial", sans-serif ;
    font-size: 14px;
    padding-bottom: 30px;
}
.map__feedback-bold--text{

    display: inline-block;
    padding: 10px 0 15px 0;
    line-height: 1.5;
    font-family: "Roboto Bold","Arial", sans-serif ;
    font-size: 18px;

}

.map__feedback-bold--text:nth-child(6){
    display: inline;
    line-height: 34px;
}
.footer{
    padding: 20px 0;
}
.footer__list{
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__item-text{
    margin: 0;
}
.footer__item-links{
    display: flex;
    gap: 30px;
    padding: 0;
    list-style: none;
}
.footer__item-links--item{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footer__item__link{
    position: relative;
    color: white;
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 13px;
    line-height: 20px;
}
.heart:before{
    position: absolute;
    top: 2px;
    left: -22px;
    content: "";
    width: 16px;
    height: 15px;
    background-image: url("../css/icon/heart.svg");
    background-repeat: no-repeat;
    background-size: contain;

}
.footer__item:nth-child(3){
    display: flex;
    flex-direction: column;
}
.footer__item-text,
 .footer__item-text--link{
font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    color: white;
    line-height: 25px;
}
